In [126]:
import os
import sys
import numpy as np
import pandas as pd

from datetime import datetime, timedelta

In [127]:
bdays = pd.read_csv("src/birthdays.csv", 
                usecols=["name","email","birthday"],
                parse_dates=["birthday"])


bdays['birthday_year'] = bdays['birthday'].dt.year
bdays['birthday_date'] = bdays['birthday'].dt.strftime('%m-%d')

bdays['birthday_date_7'] = bdays['birthday'] - timedelta(days=7)
bdays['birthday_date_1'] = bdays['birthday'] - timedelta(days=1)
bdays['birthday_date_7'] = bdays['birthday_date_7'].dt.strftime('%m-%d')
bdays['birthday_date_1'] = bdays['birthday_date_1'].dt.strftime('%m-%d')

In [128]:
reminders = pd.read_csv("src/birthdays.csv", 
                usecols=["name","email","frequency"])

reminders["7_before"] = reminders["frequency"].str.contains('1 week ervoor').astype(int)
reminders["1_before"] = reminders["frequency"].str.contains('1 dag ervoor').astype(int)
reminders["0_before"] = reminders["frequency"].str.contains('Op de dag').astype(int)
reminders = reminders.drop(columns=["frequency"])

In [129]:
current_date = datetime.today().strftime('%m-%d')
current_plus_1 = (datetime.today() + timedelta(days=1)).strftime('%m-%d')
current_plus_7 = (datetime.today() + timedelta(days=7)).strftime('%m-%d')

print(f"Date: {current_date}")
print(f"Date + 1: {current_plus_1}")
print(f"Date + 7: {current_plus_7}")

Date: 01-02
Date + 1: 01-03
Date + 7: 01-09

In [130]:
bdays

,name,email,birthday,birthday_year,birthday_date,birthday_date_7,birthday_date_1
0,Tristan,tristan@test.nl,2023-08-18,2023,08-18,08-11,08-17
1,Bo Donkersloot,bo@test.nl,1997-08-30,1997,08-30,08-23,08-29
2,Marijn,marijn2huis@gmail.com,1997-08-16,1997,08-16,08-09,08-15
3,Kwinten,kwinten@test.nl,1997-08-18,1997,08-18,08-11,08-17
4,Pa,daddy@test.nl,1997-11-04,1997,11-04,10-28,11-03
5,Pim,pimduif@test.nl,1996-12-29,1996,12-29,12-22,12-28
6,Don,donno@test.nl,1997-09-19,1997,09-19,09-12,09-18
7,Ronald,ronno@test.nl,1995-08-23,1995,08-23,08-16,08-22
8,Test bro1,testbro1@test.nl,1997-01-02,1997,01-02,12-26,01-01
9,Test bro2,testbro2@test.nl,1998-01-03,1998,01-03,12-27,01-02
10,Test bro3,testbro3@test.nl,1996-01-09,1996,01-09,01-02,01-08
11,Test bro4,testbro4@test.nl,1996-01-09,1996,01-09,01-02,01-08
12,Test bro5,testbro5@test.nl,1996-01-09,1996,01-09,01-02,01-08

In [131]:
reminders

              name                  email  7_before  1_before  0_before
0          Tristan        tristan@test.nl         1         1         1
1   Bo Donkersloot             bo@test.nl         0         0         1
2           Marijn  marijn2huis@gmail.com         1         1         1
3          Kwinten        kwinten@test.nl         1         1         1
4               Pa          daddy@test.nl         0         0         1
5              Pim        pimduif@test.nl         1         0         1
6              Don          donno@test.nl         0         1         0
7           Ronald          ronno@test.nl         0         1         0
8        Test bro1       testbro1@test.nl         1         0         1
9        Test bro2       testbro2@test.nl         1         0         1
10       Test bro3       testbro3@test.nl         1         1         1
11       Test bro4       testbro4@test.nl         1         1         1
12       Test bro5       testbro5@test.nl         1         1         1

In [132]:
remind_0_df = bdays.loc[(bdays['birthday_date']==current_date)].reset_index(drop=True)
remind_1_df = bdays.loc[(bdays['birthday_date']==current_plus_1)].reset_index(drop=True)
remind_7_df = bdays.loc[(bdays['birthday_date']==current_plus_7)].reset_index(drop=True)

In [133]:
def get_names_string(df:pd.DataFrame):
    names_str = ', '.join([x for x in df['name'].values])
    if len(df['name'].values) >= 2:
        names_str = ' and'.join(names_str.rsplit(',', 1))
    return names_str

In [134]:
for index, row in reminders.iterrows():
    if row['7_before']:
        print(f"Send email to {row['name']}, {row['email']}, with 7 day reminder for {get_names_string(remind_7_df)}")
    if row['1_before']:
        print(f"Send email to {row['name']}, {row['email']}, with 1 day reminder for {get_names_string(remind_1_df)}")
    if row['0_before']:
        print(f"Send email to {row['name']}, {row['email']}, with 0 day reminder for {get_names_string(remind_0_df)}")

Send email to Tristan, tristan@test.nl, with 7 day reminder for Test bro3, Test bro4 and Test bro5
Send email to Tristan, tristan@test.nl, with 1 day reminder for Test bro2
Send email to Tristan, tristan@test.nl, with 0 day reminder for Test bro1
Send email to Bo Donkersloot, bo@test.nl, with 0 day reminder for Test bro1
Send email to Marijn, marijn2huis@gmail.com, with 7 day reminder for Test bro3, Test bro4 and Test bro5
Send email to Marijn, marijn2huis@gmail.com, with 1 day reminder for Test bro2
Send email to Marijn, marijn2huis@gmail.com, with 0 day reminder for Test bro1
Send email to Kwinten, kwinten@test.nl, with 7 day reminder for Test bro3, Test bro4 and Test bro5
Send email to Kwinten, kwinten@test.nl, with 1 day reminder for Test bro2
Send email to Kwinten, kwinten@test.nl, with 0 day reminder for Test bro1
Send email to Pa, daddy@test.nl, with 0 day reminder for Test bro1
Send email to Pim, pimduif@test.nl, with 7 day reminder for Test bro3, Test bro4 and Test bro5
Send email to Pim, pimduif@test.nl, with 0 day reminder for Test bro1
Send email to Don, donno@test.nl, with 1 day reminder for Test bro2
Send email to Ronald, ronno@test.nl, with 1 day reminder for Test bro2
Send email to Test bro1, testbro1@test.nl, with 7 day reminder for Test bro3, Test bro4 and Test bro5
Send email to Test bro1, testbro1@test.nl, with 0 day reminder for Test bro1
Send email to Test bro2, testbro2@test.nl, with 7 day reminder for Test bro3, Test bro4 and Test bro5
Send email to Test bro2, testbro2@test.nl, with 0 day reminder for Test bro1
Send email to Test bro3, testbro3@test.nl, with 7 day reminder for Test bro3, Test bro4 and Test bro5
Send email to Test bro3, testbro3@test.nl, with 1 day reminder for Test bro2
Send email to Test bro3, testbro3@test.nl, with 0 day reminder for Test bro1
Send email to Test bro4, testbro4@test.nl, with 7 day reminder for Test bro3, Test bro4 and Test bro5
Send email to Test bro4, testbro4@test.nl, with 1 day reminder for Test bro2
Send email to Test bro4, testbro4@test.nl, with 0 day reminder for Test bro1
Send email to Test bro5, testbro5@test.nl, with 7 day reminder for Test bro3, Test bro4 and Test bro5
Send email to Test bro5, testbro5@test.nl, with 1 day reminder for Test bro2
Send email to Test bro5, testbro5@test.nl, with 0 day reminder for Test bro1